@font-face {
  font-family: "Philosopher Regular";
  src: url("./font/d52310b5e919ba7fb3941cd897ebaca0/fonts/philosopher_regular.eot"); /* IE 9 Compatibility Mode */
  src: url("./font/d52310b5e919ba7fb3941cd897ebaca0/fonts/philosopher_regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE < 9 */
      url("./font/d52310b5e919ba7fb3941cd897ebaca0/fonts/philosopher_regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("./font/d52310b5e919ba7fb3941cd897ebaca0/fonts/philosopher_regular.woff")
      format("woff"),
    /* Firefox >= 3.6, any other modern browser */
      url("./font/d52310b5e919ba7fb3941cd897ebaca0/fonts/philosopher_regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./font/d52310b5e919ba7fb3941cd897ebaca0/fonts/philosopher_regular.svg#philosopher_regular")
      format("svg"); /* Chrome < 4, Legacy iOS */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Roboto";
  color: #222222;
  /* outline: 2px solid red; */
}

/*header start*/
.bgHeader {
  background-image: url(./img/1bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: calc(24.3vw + 482.4px); /*948-560*/
  position: relative;
}
.birdbg {
  position: absolute;
  width: calc(12.3vw + 35.6px); /*272-75*/
  height: calc(3.9vw + 11.6px); /*86-24*/
  top: calc(4.1vw + 77.8px); /*157-91*/
  left: calc(81.1vw - 147.4px); /*1409-112*/
}
.horse1bg {
  position: absolute;
  width: calc(23.1vw + 113px); /*557-187*/
  height: calc(30.2vw + 31.4px); /*671-188*/
  top: calc(-10.8vw + 388.6px); /*181-354*/
  left: calc(54.6vw - 75.8px); /*973-99*/
}
.cloudbg {
  position: absolute;
  width: calc(90vw + 192px); /*1920-480*/
  height: calc(7.4vw + 27.2px); /*170-51*/
  top: calc(11.3vw + 472px); /*688-508*/
}
.treerightbg {
  position: absolute;
  width: calc(8.3vw + 7.4px); /*167-34*/
  height: calc(31.3vw + 30.8px); /*632-131*/
  top: calc(-11.2vw + 455.8px); /*241-420*/
  left: calc(91.7vw - 7.4px); /*1753-286*/
}
.treeleftbg {
  position: absolute;
  width: calc(10.4vw + 10.6px); /*211-44*/
  height: calc(21.4vw + 24.6px); /*435-93*/
  top: calc(-0.5vw + 458.6px); /*449-457*/
}
.tree {
  position: absolute;
  width: calc(15.2vw + 97.4px); /*389-146*/
  height: calc(11.3vw + 72px); /*288-108*/
  top: calc(4vw + 377.2px); /*454-390 */
  left: calc(6.3vw - 122.2px); /*-1 - -102*/
}
.ambar {
  position: absolute;
  width: calc(15.5vw + 130.4px); /*428-180*/
  height: calc(6.9vw + 58.8px); /*192-81*/
  top: calc(10.4vw + 396.8px); /*596-430*/
  left: calc(23.6vw - 115.4px); /*337- -40*/
}
.horseSmall {
  position: absolute;
  width: calc(8.3vw + 53px); /*213-93 -480*/
  height: calc(8.3vw + 50.3px); /*209-90 -480*/
  top: calc(9.5vw + 374px); /*557-420 -480*/
  left: calc(37.2vw + 5.667px); /*719-184 -480*/
}

.burger{
  width: 77px;
  height: 29px;
  border: 1px solid #008139;
  border-radius: 3px;
 position: relative;
 margin-top: 15px;
 margin-left: 24px;
z-index: 1;
transition: transform .5s;
z-index: 2;
}


.burger span{
  position: absolute;
  width: 10px;
  height: 2px;
  background-color: #008139;
  left: 10px;
  top: 10px;
  margin-right: 5px;
  transition: transform .5s, opacity .5s, background-color .5s;
}
.burger span:nth-child(2){
  transform: translateY(4px);
}
.burger span:nth-child(3){
  transform: translateY(8px);
}
.burger p{
  font-size: 15px;
  margin: 6px 10px 8px 25px;
}


.burgermenu {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 230px;
  height: 600px;
  background-color: #0D0D0D;
  z-index: 0;
  justify-content: center;
padding-top: 50px;
border-right: 5px solid #008139;

}
.burgermenu h4{
  color: #FFFFFF;
font-size: 15px;
font-weight: 400;
text-transform: uppercase;

}
.burgermenu h4:hover {
  font-size: calc(0.2vw + 9.667px);
  text-decoration: underline #fff;
  text-underline-offset: 10px; /* Расстояние между текстом и линией */
}

.burgermenu ul {
width: 120px;
height: 200px;
text-align: center;
}

.burgermenu li {
  margin: 20px 0;
}


.headerMenu {
  margin: 0px calc(32.6vw - 250px) calc(4.1vw + 9.66px) calc(31.8vw - 234px);
  display: flex;
  width: calc(38.5vw + 455px);
  height: 60px;
  position: relative;
}

.logo {
  width: calc(2.6vw + 100px);
  height: calc(1.8vw + 25px);
  margin-right: calc(23.2vw - 98px); /*347-80*/
}
.menu {
  padding-top: calc(1.2vw - 3.8px); /*19-0*/
  display: flex;
  gap: 0 42px;
  margin-right: calc(1.4vw + 30.33px); /*57-41*/
  width:100%;
}
.menu h4 {
  font-size: calc(0.2vw + 9.667px); /*13-11*/
  text-transform: uppercase;
  font-weight: 400;
  transition: all 0.3s ease;
}
.menu h4:hover {
  font-size: calc(0.2vw + 9.667px);
  text-decoration: underline #008139;
  text-underline-offset: 10px; /* Расстояние между текстом и линией */
}
.phoneNumber {
  padding-top: calc(0.6vw + 14.2px); /*25-16*/
  display: flex;
  width: calc(4.8vw + 94.8px); /*186-110*/
}
.phoneNumberImg {
  width: calc(0.4vw + 8.8px); /*16-10*/
  margin-right: calc(0.5vw + 0.4px); /*10-2*/
}
.phoneNumberInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px 0;
}
.phoneNumberInfo p:nth-child(1) {
  width: calc(3.2vw + 99.3px);
  font-size: calc(0.3vw + 11.3px);
  line-height: 117%;
  font-weight: 700;
  margin: 0;
}
.phoneNumberInfo p:nth-child(2) {
  width: calc(2.9vw + 108.3px);
  font-size: calc(0.2vw + 9.6px);
  color: #7d808a;
  margin: 0;
}
.worldHorse {
  margin-left: calc(31.8vw - 234px); /* calc(23.5vw - 75px); 376-45*/
}
.worldHorse h1 {
  width: calc(18.3vw + 261px); /*613-320*/
  font-family: "Philosopher Regular"; /*скачать шрифт*/
  font-size: calc(2.1vw + 17.4px); /*57-24*/
  font-weight: 700;
  line-height: 107%;
}


.worldHorse p {
  width: calc(12.6vw + 282.8px); /*477 по макету*/ /*506-320*/
  font-family: "Alegreya Sans"; /*скачать шрифт*/
  font-size: calc(0.7vw + 10.8px); /*24-13*/
  font-weight: 400;
  color: #646464;
  line-height: 140%;
  margin: 40px 90px 42px 46px;
}

.primary {
  /* padding: 21px 75px; */
  width: calc(6.3vw + 150px); /*270-170*/
  height: calc(1.7vw + 37.6px); /*70-43*/
  font-size: 15px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  color: #6a5300;
  text-transform: uppercase;
  text-align: center;
  background: linear-gradient(
    to bottom,
    #fff9c4,
    #ffc107
  ); /* Градиентный фон */
  box-shadow: 0 4px 0 #b28d04; /* Тень кнопки */
  margin-bottom: calc(10.2vw + 253.4px); /*449-286*/
}
/*header finish*/

h2 {
  font-size: calc(1.2vw + 17.2px); /*40-24*/
  line-height: 90%;
  font-weight: 400;
  font-family: "Philosopher Regular"; /*скачать шрифт*/
  text-align: center;
}
a{
  font-size: calc(1.2vw + 17.2px); /*40-24*/
  line-height: 90%;
  font-weight: 400;
  font-family: "Philosopher Regular"; /*скачать шрифт*/
  text-align: center;
}

/*О нашем клубе start*/
.aboutUsTitle {
  width: calc(8.9vw + 116.6px); /*267-141*/
  margin: 0 calc(46.1vw - 58.4px) calc(2.2vw + 28px); /*826-89*/ /*70-35*/
}
.aboutUsWrapper {
  display: flex;
  align-items: center;
  margin: 0 337px 185px 145px; /*337-10*/
}
.aboutImg {
  flex-basis: calc(36.4vw + 171.667px);
  flex-grow: 1;
}
.aboutUsInfo {
  flex-grow: 1000;
}
.aboutUsCards {
  display: grid;
  grid-template-columns: 200px 230px;
  grid-template-rows: 1fr 1fr;
  gap: 24px 65px;
  grid-template-areas:
    "1100 50"
    "20 15";
}
.cards:nth-child(1) {
  grid-area: "1100";
}
.cards:nth-child(2) {
  grid-area: "50";
}
.cards:nth-child(3) {
  grid-area: "20";
}
.cards:nth-child(4) {
  grid-area: "15";
  width: 248px;
}
.cards h5 {
  width: 102px;
  height: 67px;
  font-size: 42px;
  font-weight: 700;
  font-family: "Philosopher Regular";
  color: #008139;
}
.cards p {
  font-size: 17px;
  font-weight: 500;
  line-height: 166%;
}
.aboutUsText {
  width: 570px;
  margin-top: 41px;
  font-size: 15px;
  font-weight: 400;
  line-height: 186%;
  color: #7e7e7e;
}

/* Почему нас выбирают */
.advantagesTitle {
  margin-bottom: 60px;
  text-align: center;
}
.advantagesTitle h2 {
  margin-bottom: 25px;
}
h5 {
  font-size: 15px;
  line-height: 117%;
  color: #363434;
  font-weight: 300;
}
.advantages {
  display: flex;
  align-items: center;
  gap: 0 29px;
  width: 1171px;
  margin: 0 374px 100px;
}
.adventagesCards {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 271px;
  text-align: center;
}
.adventagesCards img {
  width: 113px;
  height: 100px;
}
.adventagesCards:nth-child(1) img {
  width: 113px;
  height: 95px;
  margin-bottom: 24px;
}
.adventagesCards:nth-child(2) img {
  width: 156px;
  height: 98px;
  margin-bottom: 23px;
}
.adventagesCards:nth-child(3) img {
  width: 96px;
  height: 118px;
  margin-bottom: 14px;
}
.adventagesCards:nth-child(4) img {
  width: 151px;
  height: 124px;
  margin-bottom: 7px;
}
.adventagesCards h3 {
  font-size: 19px;
  font-weight: 500;
  line-height: 117%;
  margin-bottom: 26px;
}
.adventagesCards p {
  font-size: 15px;
  font-weight: 400;
  line-height: 151%;
  color: #7e7e7e;
}

/* Направления клуба start*/
.bgDirection {
  background-image: url(./img/background4section.png);
  background-repeat: no-repeat;
  position: relative;
}
.girlonHorse {
  position: absolute;
  width: 305px;
  height: 530px;
  top: 1027px;
  left: 138px;
}
.boyonHorse {
  position: absolute;
  width: 372px;
  height: 532px;
  top: 1036px;
  left: 1465px;
}
.clouds {
  position: absolute;
  width: 1920px;
  height: 168px;
  top: 1428px;
}
.directionTitle {
  margin-bottom: 75px;
  text-align: center;
}
.directionTitle h2 {
  margin-bottom: 25px;
}
.directionWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 0 30px;
  margin: 0 375px;
}
.directionCards {
  border: 1px solid #eaeaea;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 4px 10px #eaeaea;
  display: flex;
  flex-wrap: wrap;
  width: 370px;
  justify-content: center;
}
.directionCards:nth-child(odd) {
  height: 399px;
}
.directionCards:nth-child(even) {
  height: 474px;
}
.directionCards:nth-child(5) {
  margin-top: 75px;
}
.directionCards img {
  border-radius: 5px;
  position: relative;
  top: -25px;
  margin-bottom: calc(0.4vw + 17.8px); /*25-19*/
}
.directionCards h3 {
  font-size: 23px;
  font-weight: 500;
  line-height: 117%; /*26.95-23*/
  width: 237px;
  text-align: center;
}
.directionborder {
  height: 1px;
  width: 26px;
  background-color: #008139;
  margin: 25px 150px;
}
.directionCards p {
  width: 280px;
  font-size: 15px;
  font-weight: 400;
  line-height: 140%; /*21-15*/
  color: #7e7e7e;
  margin-bottom: 45px;
}
.bgDirection button {
  margin: 50px 825px 421px;
}

/* Направления клуба finish*/

/*Наши посетители start*/
.visitorTitle {
  margin-bottom: calc(2.2vw + 28px); /*70-35*/
}
/* .visitorGrid {
  display: flex;
  gap: 10px;
  justify-content: center;
  /* flex-wrap: wrap; */
/* width: 100%; Или фиксированное значение, например 1200px */
/*overflow: hidden;  Скрывает все, что выходит за пределы контейнера 
} */
.visitorCard img {
  border-radius: 8px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 30px;
  /* margin-top: 60px;
  margin-left: 855px; */
}
#prevButton,
#nextButton {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  color: #6a5300;
  background: linear-gradient(
    to bottom,
    #fff9c4,
    #ffc107
  ); /* Градиентный фон */
  box-shadow: 0 4px 0 #b28d04; /* Тень кнопки */
  cursor: pointer;
  transition: transform 0.2s;
  /* margin-bottom: 150px; */
}
#prevButton:hover,
#nextButton:hover {
  transform: scale(1.1);
}
#nextButton img {
  transform: rotate(180deg);
}
/*Наши посетители finish*/
.ourHorseTitle {
  margin-top: 150px;
  margin-bottom: calc(2.2vw + 28px); /*70-35*/
}
.ourHorseCards {
  width: calc(6.9vw + 238px); /*370-260*/
  background-color: #ffffff;
  box-shadow: 0 4px 10px #eaeaea;
  border-radius: 5px;
  border: 1px solid #eaeaea;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-bottom: 240px; */
  margin-bottom: calc(1.9vw + 24px); /*60-30*/
  overflow: visible !important;
}
/* .horse{
  overflow: visible !important;
} */
.ourHorseCards img {
  width: calc(3.8vw + 248px); /*320-260*/
  height: calc(1.9vw + 383.8px); /*421-390*/
  border-radius: 5px;
  position: relative;
  top: -25px;
}
.ourHorseCards h4 {
  font-size: calc(0.5vw + 13.4px); /*23-15*/
  font-weight: 500;
  line-height: 117%;
  text-align: center;
}
.ourHorseCards p {
  font-family: Roboto;
  font-size: calc(0.1vw + 12.6px); /*15-13*/
  font-weight: 400;
  line-height: 140%;
  color: #7e7e7e;
  text-align: center;
  margin-bottom: calc(1.3vw + 21px); /*45-25*/
}

/* 
.splide__pagination__page {
  background-color: #cb2020;
  border: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}
.splide__pagination__page.is-active {
  background: #FFC700;
  transform: scale(1.4);

} */
/* .splide__slide.is-prev,
.splide__slide.is-next {
  bottom: 40px;
  opacity: 0.6; /* Прозрачность 
  filter: blur(2px); /* Размытие 
} */
.splide__pagination {
  display: flex;
  justify-content: center;
  gap: 15px;
  position: relative;
}
.splide__pagination__page.is-active {
  background: #ffc700;
}
.splide__arrows {
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  position: absolute;
  background: #ffc700;
}
.splide__arrow--prev,
.splide__arrow--next {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  color: #6a5300;
  background: linear-gradient(
    to bottom,
    #fff9c4,
    #ffc107
  ); /* Градиентный фон */
  box-shadow: 0 4px 0 #b28d04; /* Тень кнопки */
  cursor: pointer;
  transition: transform 0.2s;
}
.splide__arrow--next img {
  transform: rotate(180deg);
}

/* Отвечаем на вопросы */
.BgSection7 {
  background-image: url(./img/bg7.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 800px;
  background-size: cover;
  position: relative;
  margin-top: calc(4.4vw + 56px); /*140-70*/
  overflow: hidden;
}
.cloudTop {
  position: absolute;
  width: calc(95.1vw + 94.8px); /*1920-399*/
  height: calc(10.1vw + 18.8px); /*212-51*/
  top: -2px;
  left: 0px;
}
.cloudButton {
  position: absolute;
  width: calc(96.9vw + 60px); /*1920-370*/
  height: calc(9vw + 21.2px); /*194-50*/
  top: calc(-9.7vw + 794px); /*608-763*/
}
.girlWithhorse {
  position: absolute;
  width: calc(72.9vw + 273.6px); /*1674-507*/
  height: calc(20.9vw + 242px); /*644-309*/
  top: calc(-21.6vw + 571.2px); /*156-502*/
  left: calc(13.3vw - 155px); /*99- -113*/
}
.ChristTree {
  position: absolute;
  width: calc(9.1vw + 121.96px); /*297-213*/
  height: calc(11.3vw 153.957px); /*371-267*/
  top: calc(2.8vw + 395.7px); /*450-424*/
  left: calc(58.4vw + 269.3px); /*1390-853*/
}

.QuestionForm {
  width: calc(10.6vw + 266px); /*470-300*/
  height: calc(7.6vw + 400.6px); /*547-425*/
  background: #ffffff;
  border: 1px solid #eaeaea;
  box-shadow: 0 4px 10px #eaeaea;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: calc(2.6vw + 90.8px); /*140-99*/
  left: calc(66.6vw - 203px); /*1075-10*/

  /* margin-top: 20px; */
}
.QuestionForm h2 {
  width: calc(7.9vw + 186.6px); /*339-212*/
  margin: calc(1.3vw + 36px) calc(1.4vw + 38.6px) 15px calc(1.4vw + 38.6px); /*60-40 65-43 15 65-43*/
  font-size: calc(0.8vw + 19.4px); /*35-22*/
  font-weight: 400;
  line-height: 100%;
}
.QuestionForm p {
  font-size: calc(0.1vw + 12.6px); /*15-13*/
  font-weight: 400;
  line-height: 140%;
  text-align: center;
  color: #7e7e7e;
  width: calc(5.8vw + 259.6px); /*370-278*/
  margin-left: calc(2.4vw + 3.2px); /*50-11*/
  margin-bottom: calc(0.6vw + 18px); /*30-20*/
}
span {
  color: #7e7e7e;
  font-weight: 700;
}
.formInfo button {
  width: calc(6.6vw + 204px); /*330-225*/
  margin: 0 0 calc(0.3vw + 24px) calc(2.7vw + 18.4px); /*30-25 70-27*/
}
.formInfo {
}
.formInfo input {
  width: calc(6.6vw + 204px); /*330-225*/
  height: calc(0.7vw + 47.8px); /*61-50*/
  margin-left: calc(2vw + 31.6px); /*70-38*/
  margin-bottom: 20px;
  padding-left: calc(0.4vw + 12.6px); /*21-14*/
  border-radius: 5px;
  border: 1px solid #8f8f8f;
}
.formInfo input:last-child {
  border: 2px solid #ffc700;
  width: 20px;
  display: inline;
}

.formInfo label {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 17.58px;
  color: #8a8a8a;
  display: flex;
}
/* Отвечаем на вопросы finish*/

/*О нас говорят клиенты*/
.feedback {
  margin-bottom: calc(5vw + 54px);
}
.feedBackTitle {
  width: calc(13.1vw + 177px); /*410-216*/
  font-size: calc(1.2vw + 17.2px); /*40-21*/
  font-weight: 400;
  margin: calc(4.4vw + 56px) 0 30px calc(44vw - 88.6px);
}
.feedbackCard {
  width: calc(16.9vw + 246px); /*570-300*/
  height: calc(1.8vw + 257px); /*291-263*/
  border: 1px solid #eaeaea;
  box-shadow: 0 4px 10px #eaeaea;
  border-radius: 5px;
  padding: calc(1.3vw + 16px) /*40-20*/ calc(1.9vw + 9px) /*45-15*/;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: calc(1.9vw + 24px); /*60-30*/
}
.feedbackdetail p {
  width: calc(13.1vw + 228px); /*480-270*/
  font-size: calc(0.1vw + 12.6px); /*15-13*/
  font-weight: 400;
  line-height: 160%;
  margin-bottom: calc(0.3vw + 9px); /*15-10*/
  color: #363434;
}
.feedbackButton {
  /* margin: 0 160px 45px 165px; */
}
.feedbackButton button {
  width: calc(1.3vw + 126px); /*150-130*/
  height: 35px;
  background: #ffffff;
  border: none;
  box-shadow: 0 4px 10px #eaeaea;
  border-radius: 5px;
  padding: calc(-0.1vw + 9.4px) /*7-9*/ calc(-0.2vw + 21.8px) /*17-21*/
    calc(-0.1vw + 9.4px) /*7-9*/ calc(0.6vw + 19px) /*31-21*/;
  font-size: calc(0.1vw + 12.6px); /*15-13*/
  font-weight: 400;
  line-height: 140%;
  color: #008139;
  margin-left: calc(5.6vw + 62px); /*170-80*/
  margin-bottom: calc(1.3vw + 19.8px); /*45-24*/
}
.feedbackButton img {
  width: 12px;
  height: 5px;
  display: inline;
  margin-bottom: 7px;
  margin-left: calc(0.2vw + 2.4px); /*6-3*/
}
.feedBackUser {
  width: calc(1.8vw + 181px); /*216-187*/
  height: 49px;
  display: flex;
  flex-wrap: nowrap;
  gap: 0 calc(0.6vw + 8px) /*20-10*/;
}
.feedBackUser img {
  width: 45px;
  height: 45px;
}
.feedbackName {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 10px;
}
.feedbackName h4 {
  width: calc(2.5vw + 135px); /*152-132*/
  font-size: calc(0.1vw + 14.8px); /*16-14*/
  font-weight: 400;
}
.feedbackName img {
  width: 18px;
  height: 18px;
  color: #101820;
}
.quote {
  position: absolute;
  width: calc(0.9vw + 27px); /*45-30*/
  height: calc(0.8vw + 22.6px); /*37-25*/
  top: 219px;
  left: calc(14.4vw + 204px); /*480-250*/
}

/* карта */
.mapForm {
  background-image: url(./img/bgmap.png);
  background-repeat: no-repeat;
  width: 100%;
  height: calc(8.8vw + 482px); /*650-510*/
  background-size: cover;
  position: relative;
  overflow: hidden;
}
.map-container {
  width: 100%;
  height: calc(8.8vw + 482px);
}
.contactForm {
  position: absolute;
  top: calc(1.7vw + 36.7px);

  left: calc(22.8vw - 63px); /*375-10*/
  width: calc(13.8vw + 255.8px); /*521-300*/
  height: calc(9.5vw + 328.6px); /*511-359*/
  border: 1px solid #eaeaea;
  box-shadow: 0 4px 10px #eaeaea;
  border-radius: 5px;
  background: #ffffff;
}
.directionborderContact {
  height: 1px;
  width: 26px;
  background-color: #008139;
  margin-left: calc(-4.2vw + 150px); /*70-137*/
  margin-bottom: calc(1.4vw + 15.6px); /*42-20*/
}
.contactForm h2 {
  width: calc(4.3vw + 91.2px); /*174-105*/
  margin-top: calc(1vw + 26px); /*50-30*/
  margin-left: calc(-1.7vw + 103.6px); /*70-98*/
  margin-bottom: calc(0.6vw + 18px); /*30-20*/
  font-size: calc(1vw + 20.8px); /*40-24*/
}
.contactCard {
  display: flex;
  flex-direction: column;
  gap: 0 22px;
  margin-left: 75px;
  margin-top: 42px;
}
.contactInfo {
  display: flex;
}
.Finishpin {
  width: calc(0.2vw + 10.4px); /*14-11*/
  height: calc(0.3vw + 16.2px); /*21-17*/
  margin-right: calc(0.6vw + 10px); /*22-12*/
  margin-bottom: calc(0.3vw + 20px); /*26-21*/
}
.Finishphone {
  width: calc(0.4vw + 11.8px); /*19-13*/
  height: calc(0.4vw + 11.8px); /*19-13*/
  margin-right: calc(0.6vw + 9.2px); /*20-11*/
  margin-bottom: calc(0.4vw + 21.8px); /*29-23*/
}
.Finishemail {
  width: calc(0.4vw + 13.6px); /*22-15*/
  height: calc(0.3vw + 10px); /*16-11*/
  margin-right: calc(0.5vw + 8.4px); /*18-10*/
  margin-bottom: calc(0.5vw + 19.4px); /*29-21*/
}
.Finishocloc {
  width: calc(0.4vw + 12.8px); /*20-14*/
  height: calc(0.4vw + 12.8px); /*20-14*/
  margin-right: calc(0.6vw + 8.2px); /*19-10*/
}
.contactCard p {
  font-size: calc(0.3vw + 12px); /*18-13*/
  font-weight: 400;
  line-height: 155%;
}
.socialLogo {
  display: flex;
  gap: 0 13px;
  margin-left: calc(13.5vw + 22.8px); /*282-66*/
  margin-top: 30px;
}
.socialLogo img {
  width: 32px;
}
.Contacttreeleft {
  position: absolute;
  top: 362px;
  right: 1459px;
}
.Contacttreeright {
  position: absolute;
  top: 118px;
  left: 1725px;
}
.Pin {
  position: absolute;
  width: calc(0.8vw + 48.8px); /*63-51*/
  height: calc(1.1vw 70.4px); /*92-74*/
  top: calc(12vw + 77.8px); /*307-116*/
  right: calc(32.1vw + 31.2px); /*648-134*/
}

/*footer start*/
footer {
  background: #0b0b0b;
  height: calc(-25.2vw + 621px); /*138-541*/
}
.footerMenu {
  margin: 0 calc(30.8vw - 216.7px) /*375-20 +768*/ calc(0.4vw + 16.6px)
    /*25-18*/;
  padding-top: 25px;
  display: flex;
  width: calc(19.2vw + 820px);
}
.footerlogo {
  width: calc(5.1vw + 60.7px);
  margin-right: calc(31.2vw - 180px);
}
.menuTitle {
  padding-top: calc(1.2vw - 3.8px); /*19-0*/
  display: flex;
  gap: 0 42px;
  margin-right: calc(1vw + 37.8px); /*57-41*/
  width: calc(21.9vw + 6.8px); /*428-77*/
}
.menuTitle h4 {
  color: #eaeaea;
  font-weight: 400;
}
.footerMenu button {
  width: calc(3vw + 144px);
  height: 46px;
  text-align: center;
  font-size: 14.5px;
  font-weight: 400;
  color: #f5f5f5;
  background: #000;
  border: 1px solid #fde724;
  border-radius: 5px;
}
.accept {
  width: calc(22.9vw + 144px); /*544-209*/
  display: flex;
  gap: 0 40px;
  margin-left: calc(19.9vw - 5.6px); /*376-58*/
}
.accept p {
  font-size: calc(0.3vw + 8.2px); /*13-9*/
  color: #7d808a;
  font-weight: 400;
  text-decoration: underline;
}
@media (max-width: 1920px) {
  .burger{
    display: none;
  }
  .burgermenu{
    display: none;
  }
}
@media (max-width: 1000px) {
  .Contacttreeleft {
    display: none;
  }
  .Contacttreeright {
    display: none;
  }
  .ChristTree {
    display: none;
  }
}

@media (max-width: 765px) {
  .primary.desc {
    display: none;
  }
  .primary.mob {
    display: block;
  }
  .contactForm {
    top: calc(-15.6vw + 368.8px); /*70-319*/
  }
  .mapForm {
    margin-bottom: calc(23.8vw + 162px);
    overflow: visible;
  }
  .footerMenu {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr;
    grid-template-areas:
      "menuTitle"
      "button"
      "logo";
    grid-row-gap: 40px;
    text-align: center;
  }
  .menuTitle {
    grid-area: menuTitle;
    margin-top: 40px;
    margin-left: 92px;
    width: 443px;
  }
  .footerMenu button {
    grid-area: button;
    margin-left: 222px;
    width: 167px;
  }
  .footerlogo {
    grid-area: logo;
    margin-left: 230px;
  }
  .accept {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }
  .menu{
    display: none;
  }
  
  .burger{
    display: block;
 
  }
  .burgermenu.open {
    display: flex;
    width: 230px;
    height: 600px;
    z-index: 1;
    margin-left: 0;
}

  .headerMenu{
    width: calc(1vw - 20px);
    margin-left: 10px;
    }
  .logo{
    width: calc(6.9vw + 66.875px);
    height: calc(2.2vw + 21.87px);
    margin: 15px 24px 0 10px;
  }
.phoneNumber{
  width: calc(11.1vw + 56.6px); /*142-110*/
  margin-right: 10px;
  margin-left: calc(56.6vw - 111.6px);
}
.phoneNumberInfo p{
  font-size: calc(1vw + 6px);

}
}
@media (max-width: 480px) {
  .worldHorse h1 {
    text-align: center;
  }
 
  
  
}
@media (max-width: 450px) {
  .horseSmall {
    display: none;
  }
  .phoneNumber{
    display: none;
  }
}
@media (max-width: 445px) {
  .primary.desc {
    display: none;
  }
  .primary.mob {
    display: block;
  }
  .footerMenu {
    display: grid;
    grid-template-rows: 165px 60px 60px;
    grid-template-columns: 1fr;
    grid-template-areas:
      "menuTitle"
      "button"
      "logo";
    grid-row-gap: 35px;
    text-align: center;
  }
  .menuTitle {
    grid-area: menuTitle;
    margin-top: 30px;
    margin-left: 225px;
    width: 108px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .footerMenu button {
    grid-area: button;
    margin-left: 195px;
    width: 167px;
  }
  .footerlogo {
    grid-area: logo;
    margin-left: 203px;
  }
  .accept {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    /* font-size: 9px; */
  }
}
