@font-face {
	font-family: 'Montserrat Alternates Black';
	src: url('../fonts/montserrat_alternates_black.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/montserrat_alternates_black.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/montserrat_alternates_black.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/montserrat_alternates_black.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/montserrat_alternates_black.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/montserrat_alternates_black.svg#montserrat_alternates_black') format('svg'); /* Chrome < 4, Legacy iOS */
}